@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
$gold: #cd944c;
$white: #ffffff;
body {
    margin: 60px 44px;
    padding: 0;
    font-family: sans-serif;
    ul {
        margin-bottom: 0;
    }
    li {
        list-style-type: none;
    }
    a:hover {
        text-decoration: none;
    }
}

header {
    padding: 0 56px;
    .logo {
        img {
            width: 100%;
        }
    }
    .search {
        // margin: 0 auto;
        input {
            width: 100%;
            height: 40px;
            border: 1px solid #dddfdf;
            border-radius: 3px;
            box-sizing: border-box;
        }
    }
    .search::after {
        content: "\1F50D";
        display: inline-block;
        font-size: 24px;
        color: #cd944c;
        position: absolute;
        right: 24px;
        top: 0;
        line-height: 40px;
    }
    .contents {
        ul {
            padding: 0;
        }
    }
}

nav {
    padding: 0 48px;
    ul {
        padding: 0;
        font-size: 0;
        li {
            font-size: 12px;
            display: inline-block;
            text-transform: uppercase;
        }
    }
    .main-menu {
        font-weight: bold;
        padding: 0;
        ul {
            li {
                font-size: 14px;
                padding: 24px 8px;
            }
        }
    }
    .cart-menu {
        line-height: 68px;
        font-weight: bold;
        font-size: 16px;
        .fa-shopping-cart,
        .fa-user {
            font-size: 24px;
            color: $gold;
            vertical-align: middle;
        }
        .g-count {
            display: inline-block;
            color: $white;
            background: $gold;
            height: 32px;
            width: 32px;
            line-height: 32px;
            border-radius: 50%;
            padding: 0 5px;
            margin: 0 4px;
        }
        .fa-user {
            margin: 0 2px 0 24px;
        }
    }
    .btn-enter {}
}

nav::before,
nav::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid #dddfdf;
}

section#slider {
    height: 326px;
    background-image: url(../img/slid-img-1.jpg);
    margin-top: 32px;
    padding: 99px 0;
    .btn-prev,
    .btn-next {
        display: inline-block;
        padding: 0;
        height: 130px;
        width: 40px;
        background-color: #d2a66b;
        opacity: 0.88;
        cursor: pointer;
        .fa-angle-left,
        .fa-angle-right {
            line-height: 130px;
            width: 40px;
            font-size: 40px;
            color: $white;
            font-weight: bold;
            // position: absolute;
            // left: 10px;
        }
    }
    .btn-prev,
    .btn-next {
        &:hover {
            background-color: $white;
            opacity: 0.88;
        }
    }
    .fa-angle-left,
    .fa-angle-right {
        &:hover {
            color: #d2a66b;
            opacity: 0.88;
        }
    }
    .btn-prev {
        float: left;
        padding-left: 11px;
    }
    .btn-next {
        float: right;
        padding-left: 14px;
    }
    h2.about {
        display: inline-block;
        width: 500px;
        padding: 32px;
        background-color: #d2a66b;
        color: $white;
        margin: 0 0 0 32px;
        opacity: 0.88;
    }
}

.dots {
    .dot {
        display: inline-block;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #eedcc4;
        margin: 47px 11px 32px 11px;
    }
    .active {
        display: inline-block;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #cb944c;
        margin: 47px 11px 32px 11px;
    }
}
